/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: linear-gradient(45deg, #465ab8, #261360);
  color: #fff;
  padding: 0.5rem;
}


.input-error {
  color: red;
  font-size: .9rem; 
}

#history-list .list-group-item {
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin: .3rem;
  border: 1px solid lightgrey;  

}

#search-form {
  min-width: 200px;
  /* max-width: 600px; */
  padding: 1rem;
  margin: 1rem 0rem;
  border-bottom: 1px solid lightgrey;
}

#search-form label {
  font-size: 1.5rem;
  font-weight: bold;
}

#five-day-forecast {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323c4f;
  color: white;
  min-width: 156px;
  border-radius: 5px;
}

.card img {
  max-height: 65px;
  max-width: 65px;
}

#today-weather {
  border: 3px solid grey;
  padding: 1rem;
  margin: 0.5rem;
  min-height: 127px;
}

#clear-history-btn {
  margin-bottom: 1rem; 
  max-width: 50%; 
  align-self: center;
  justify-self: center;
  text-align: center; 
  margin: 0 auto;
  margin-top: .2rem;  
}


.city-container {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  flex-wrap: "wrap";
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.city-container img {
  max-height: 40px;
  max-width: 40px;
}
